/* line 1, ../sass/_index.scss */
.navbar {
  margin-bottom: 20px;
}

/* line 5, ../sass/_index.scss */
.credential {
  word-wrap: break-word;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 15px;
}
/* line 12, ../sass/_index.scss */
.credential .format {
  text-transform: uppercase;
}
/* line 16, ../sass/_index.scss */
.credential .create-date {
  font-style: italic;
}

/* line 21, ../sass/_index.scss */
.glyphicon {
  float: right;
}

/* line 1, ../sass/_login.scss */
body {
  padding-top: 6em;
  padding-bottom: 2em;
  background-color: #dddddd;
}

/* line 7, ../sass/_login.scss */
.login-wrapper {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #cccccc;
}

/* line 14, ../sass/_login.scss */
.login-buttons {
  padding: 15px;
}

/* line 18, ../sass/_login.scss */
.alert-wrapper {
  padding-top: 20px;
}
