.navbar {
    margin-bottom: 20px;
}

.credential {
    word-wrap: break-word;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 15px;
    
    .format {
        text-transform: uppercase;
    }

    .create-date {
        font-style: italic;
    }
}

.glyphicon {
    float: right;
}
