<!DOCTYPE html>
<html lang="en">

    <head>
        <title>WebAuthn.io</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script type="text/javascript" src="/js/hello/webauthn.js"></script>
        <script type="text/javascript" src="/js/hello/polyfill.js"></script>
        <script type="text/javascript" src="/js/cbor.js"></script>
        <script type="text/javascript" src="/js/base64.js"></script>
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="container">
            <div class="login-wrapper">
                <form class="form-signin">
                    <h2 class="form-signin-heading text-center">WebAuthn.io <i>Hello</i></h2>
                    <h4>Warning: This is a <i>extremely</i> basic build of WebAuthn available using Windows Hello and Edge Browser! It is very out of date!</h4> 
                    <p>I highly recommend using the version of Webauthn available <a href="/">here</a> using <a href="https://www.mozilla.org/en-US/firefox/channel/desktop/">Firefox's Nightly Build</a></p>
                    <p>Things to note about this build:</p>
                    <ol>
                        <li>It will only work on the <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Edge Browser</a> on a Windows Hello capable PC</li>
                        <li>It is incredibely janky.</li>
                        <li>This page will not change. The results of the WebAuthn Ceremony will be logged in the browser console</li>
                        <li>The Windows Hello Camera Authentication seems to always fail on the first try no matter what. No, I don't know why.</li>
                        <li>The Windows Hello Pin will succeed on the first try if the pin is correct.</li>
                        <li>This example is based on the <a href="https://testdrive-fido.azurewebsites.net/">test website</a> provided by Microsoft</li>
                        <li>Get excited for WebAuthn!</li>
                    </ol>
                    <div class="row">
                        <div class="mx-auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" aria-label="email" id="input-email">
                                <span class="input-group-addon" id="email-site">@example.com</span>
                            </div>                
                        </div>                            
                    </div>
                </form>
                <div class="alert-wrapper" id="user-alert" style="display:none">
                    <div class="alert alert-danger" id="alert-msg" role="alert">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                    </div>
                </div>
                <div class="text-center buttons">                    
                    <button class="btn btn-lg btn-primary" type="button" onclick="makeNewCredential()">Register a User/Credential</button>
                    <button class="btn btn-lg btn-primary" type="button" disabled="disabled" onclick="getAssertion()">Login with Credential (Unavailable)</button>
                </div>  
            </div>
            <div class="footer text-center fixed-bottom">
                <span>Made with <3 by <a href="https://twitter.com/duo_labs">Duo Labs</a></span>
            </div>
        </div>
    </body>

</html>